<html>
<head>
<title>MediaSphere--the social network that's good for things other than screwing around<title>
</head>
<body>
<center>
<img src="http://www.sloganizer.net/en/style3,MediaSphere.png" border="0" width=800 height=120>
</center>
<br><i>I don't think we actually have a slogan yet so this is just a placeholder</i>
<br><hr>
Welcome! MediaSphere is a brand-new social website that will launch September 2011. So what makes MediaSphere cool?
<ul>
<li>It's all about <i>generating and developing new ideas</i> whether for a book, a law, a scientific study, a business plan--MediaSphere allows thousands of people to all collaborate effectivley and build consensus<li>
<li><i>We respect your rights.</i>. Every group on MediaSphere can decide it's own standards of conduct, and host whatever content they like, as long as it's not something that would get us sent to jail. We don't use web tracking, and when you give us personal data, it's encrypted to that no one else--including us--can read it</li>
<li><i>We're not for profit</i> Every cent of money we make goes back into the site(and topping up our Ramen supplies but hey that's a vital part of software development)</li></ul>

<br>
<b>Mediasphere isn't quite ready for prime time yet</b>. But as we develop it this summer, we'll be moving more and more parts of the site into a public preview so that we can get feedback and see what people like and dislike.
<br>Hope to see you in September!

</body>
</html>

